# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-logs/
dist/
downloads/
logs/
.logs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/
.env

# IDE files
.idea/
.vscode/PythonImportHelper-v2-Completion.json
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# User data
user_data.json